{% extends 'homepage/base.html' %}
{% load staticfiles %}
{% block title %}MuggleNoMore-About Us{% endblock %}

{%block css%}
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/about-us.css' %}"/>
{%endblock%}

{%block body%}
<div class="content">
	<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- #######################################################################################################  -->

	<div id="about-us" class="clear">
      <!-- ####################################################################################################### -->
      <section id="about-intro" class="clear">
        <center><img src="{% static 'homepage/images/about.png' %}" alt="About us" style="height:10%;width:50%;" class="img"></center>
        
		
		<p>
		Let's be real: Harry Potter fans are unique in many ways. There are so many wonderful fandoms, but something about the Harry Potter fandom just
		feels a little more magical. Maybe we are biased, because we grew up reading the series, but we think that Harry Potter is a truly special experience, and we are so
		grateful to have so many fellow fans who feel the same way (right down to the insane fan theories).
		</p>
		
		<p>
			Of course, timing played a huge factor in creating the fandom we all know and love today.
			If it weren't for the era of the Internet, we would never be able to connect fans of all ages and countries and stages of life. But because J.K.
			Rowling had the idea for a story of a boy wizard at the right time, we ended up with the huge fandom experience that we have now.
		</p>
		
		<p>
			You're probably a part of lots of fandoms. After all, it's not a rule that you have to belong to only one - unlike the typical literary "sorting," 
			you can consider yourself a part of as many fandoms as you want. But if you are a HP fan, then we hope this will take you back to your childhood, and the Hogwarts.
			
		</p>
	 </section>



	 <!-- ####################################################################################################### -->
      <section id="team">
          <div class="abus" style="font-size:30px;color:purple;font-weight:bold;">
          <center>
          <h1>Rucha Rangnekar- Ravenclaw</h1>
      <h1>Khyati Suratwala- Gryffindor</h1>
          <h1>Smruti Varvadekar- Slytherin</h1>
</center>
              </div>
      </section>
      <!-- ####################################################################################################### -->
    </div>
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
  </div>
</div>
</div>
{%endblock %}