p{
	text-align:center;
    font-size:20px;
	color:#009900;
	display:block;
	padding-bottom:4%;
	padding-top:4%;
	margin-bottom:25px;
	background-color:#ffc34d;
}


body{
	background-color:#ffdd99;
}

.content{
	height:66%;
}
