{% extends 'homepage/base.html' %}
{% load staticfiles %}
	<meta charset="UTF-8">
	<title>{% block title %}Letter{% endblock %}</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster|Orbitron|EB+Garamond" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{%block css%}
	<link rel="stylesheet" type="text/css" href="{% static 'randomq/letter.css' %}"/>
{%endblock%}
<body>
{% block body %}
<div class="content">
<h2>Your score:{{ total_score }}</h2>
</div>

{% endblock %}
</body>

