<input lang="en" xmlns="http://www.w3.org/1999/html">
<head>

	{% extends 'homepage/base.html' %}

{% load staticfiles %}

	<meta charset="UTF-8">
	<title>{% block title %}Sorting Quiz{% endblock %}</title>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {%block css%}

  <link rel="stylesheet" type="text/css" href="{% static 'randomq/style2.css' %}"/>
    {% endblock %}
</head>
{% block body %}
<div class="content">
<style>

        h3{
        text-align:center;
    text-shadow: 2px 2px 3px #08A5A2;

}
        h2{
        text-align:center;
    color: #A8D67F;
    text-shadow: 1px 1px 2px black, 0 0 25px #B26A89, 0 0 5px #DA035E;


}
</style>
<h2>You scored:{{ total_score }}</h2>
<h3>Thanks for playing !!</h3>
<form action="{% url 'randomq:level' cat %}" method="post">
{% csrf_token %}
{% if lvl %}
    <center><h2>You have unlocked the next level</h2></center>
    <center><button type="submit"  class="button" name="next_level" >Next Level</button></center>
{% endif %}
{% if pl %}
    <center><h2>Please try again to unlock the next level</h2></center>
    <center><button type="submit" name="next_level" class="button">Play again</button></center>
{% endif %}
{% if end1 %}
    <center><h3>You have completed the spells category! Complete the rest to activate the bonus!</h3></center>
{% endif %}
{% if end2 %}
    <center><h3>You have completed the books category! Complete the rest to activate the bonus!</h3></center>
{% endif %}
{% if end4 %}
    <center><h3>You have completed the quotes category! Complete the rest to activate the bonus!</h3></center>
{% endif %}
{% if end3 %}
    <center><h3>You have completed the movies category! Complete the rest to activate the bonus!</h3></center>
{% endif %}

</form></div>

{% endblock %}

</html>
       <!-- <input type="radio" name="option" value="option1" class="i">{{ question.option1 }}</input><br>
        <input type="radio" name="option" value="option2" class="i">{{ question.option2 }}</input><br>
        <input type="radio" name="option" value="option3" class="i">{{ question.option3 }}</input><br>
        <img src="{% static '{{ question.imgee }}' %}" alt="h">-->